<div class="table-responsive">
  <div class="table table-striped table-hover">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Anúncios</h4>
                      <p class="card-category"> Total: {{pageForm?.totalElements}}</p>
                  </div>                  
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                <th>
                                    Foto
                                  </th>                                  
                                  <th>
                                      Titulo
                                  </th>
                                  <th>
                                      Localização
                                  </th>   
                                  <th>
                                    Plano
                                </th>                                 
                                  
                              </thead>
                              <tbody>
                                  <tr *ngFor="let anuncio of anuncios" routerLink="anuncio/{{anuncio.id}}">
                                    <td>
                                        <img src="{{anuncio.fotoPrincipal}}" width="150" height="150"/>                                        
                                      </td>                                      
                                      <td>
                                        {{anuncio.id}} - {{anuncio.titulo}}
                                      </td>
                                      <td>
                                        {{anuncio.endereco}}
                                      </td>
                                      <td><small ><mat-chip-list        
                                        cdkDropList 
                                        cdkDropListOrientation="vertical"   >
                                        <mat-chip      
                                          cdkDrag
                                          *ngFor="let categoria of anuncio.categorias">
                                          {{categoria.descricao}}
                                        </mat-chip>
                                      </mat-chip-list></small></td>         
                                      <td>
                                        {{anuncio.plano}}
                                      </td>                             
                                </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
                  <mat-panel-description>
                    <mat-paginator [length]="pager?.totalElements" (page)="paginar($event)" [pageSize]="pager?.size" >
                    </mat-paginator>
                </mat-panel-description>
              </div>
          </div>
      </div>
  </div>
</div>
