<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">content_copy</i>
                      </div>
                      <p class="card-category">Total de Anúncios</p>
                      <h3 class="card-title">3012                          
                      </h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons text-danger">Detalhar</i>
                          <a href="javascript:void(0)">Detalhar</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">Plano Gratuito</i>
                      </div>
                      <p class="card-category">Plano Gratuito</p>
                      <h3 class="card-title">3000</h3>
                  </div>  
                  <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons text-danger">Detalhar</i>
                        <a href="javascript:void(0)">Detalhar</a>
                    </div>
                </div>                
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">Plano Bronze</i>
                    </div>
                    <p class="card-category">Plano Bronze</p>
                    <h3 class="card-title">10</h3>
                </div>  
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons text-danger">Detalhar</i>
                        <a href="javascript:void(0)">Detalhar</a>
                    </div>
                </div>                
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">Plano Prata</i>
                    </div>
                    <p class="card-category">Plano Prata</p>
                    <h3 class="card-title">0</h3>
                </div>     
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons text-danger">Detalhar</i>
                        <a href="javascript:void(0)">Detalhar</a>
                    </div>
                </div>             
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">Plano Ouro</i>
                    </div>
                    <p class="card-category">Plano Ouro</p>
                    <h3 class="card-title">2</h3>
                </div> 
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons text-danger">Detalhar</i>
                        <a href="javascript:void(0)">Detalhar</a>
                    </div>
                </div>                 
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">Plano Diamante</i>
                    </div>
                    <p class="card-category">Plano Diamante</p>
                    <h3 class="card-title">2</h3>
                </div> 
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons text-danger">Detalhar</i>
                        <a href="javascript:void(0)">Detalhar</a>
                    </div>
                </div>                 
            </div>
        </div>   
        
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">Denúncias</i>
                    </div>
                    <p class="card-category">Denúncias</p>
                    <h3 class="card-title">1</h3>
                </div>    
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons text-danger">Detalhar</i>
                        <a href="javascript:void(0)">Detalhar</a>
                    </div>
                </div>              
            </div>
        </div>   
          
      </div>
      
  </div>
</div>
